/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
  width: 100%;
}
header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 80%;
  /* margin: 0 auto; */
}

header img{
 margin: 10px 0;
 width: 90%;
}

header nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 62%;
 
}

header nav ul{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
}

header nav ul li{
  list-style: none;
  width: 100%;
}
header nav ul li a {
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
}

footer .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow:  row wrap;
  width: 60%;
}

.footer-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
}

footer .social p{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
}

footer .social-icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  
}
/* ======================================================================================
        Header  Styles
   ======================================================================================*/

header {
  padding: 15px 0;
}

header figure {
  margin: 0;
}

.header-divider{
  width:100%;  
}

/* ======================================================================================
        Footer Styles
   ======================================================================================*/
footer{
  width: 90%;
}
footer .contact{
width: 100%;
}
footer .contact h4{
  margin: 15px 75px;
  padding-top: 35px;
}

footer .contact address {
  margin: 15px 0;
}

footer .social {
  padding-bottom: 15px;
}

footer .social h4{
  margin: 15px 50px;
  padding-bottom: 0px;
}

footer .copyright {
  margin:0 auto;
  padding: 0 auto;
}

footer .copyright p{
  margin:0 auto;
  padding: 0 auto;
}


/* ======================================================================================
        Home Page
   ======================================================================================*/

.hero-area{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.hero-area h1 {
  margin-top: 0;
  padding: 0 20px;
}
aside{
  padding-bottom: 30px;
}

.form-description{
  margin-top: 30px;
}

.form {
  margin-top: 35px;
}

.form input {
  margin: 15px 20px;
}

section .hero-area{
  margin-top: 44px;
}

.features p {
  margin: 0;
}
.features article {
  width: 50%;
  padding: 0 15px;
  margin: 15px auto;
}
.features .content-wrapper{
  margin: 0 20px;
}
.reviews{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0 20px;
}
.reviews h2{
  padding: 0 20px;
}
.reviews h3{
  width: 50%;
}
.reviews p{
  padding: 0 20px;
}
article p {
  padding: 10px;
}
/* ======================================================================================
        About Page
   ======================================================================================*/
.mission{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.mission p{
  padding: 0;
}
.mission .content-wrapper{
  flex-basis: 90%;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.contact-section .content-wrapper{
  flex-basis: 90%;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.contact-section h2, h3, address {
  padding: 0 20px;
}

/* ======================================================================================
        FAQ Page
   ======================================================================================*/

   .faq{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 90%;
}
.faq h2 {
  width: 90%;
  padding: 0 20px;
}

.faq .conent-wrapper{
  flex-basis: 80%;
}

.faq-content h4, p {
  width: 90%;
  padding: 0 20px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {

  /* ==========================================================================
   Header and Footer styling
   ========================================================================== */
  header .content-wrapper {
    justify-content: space-between;
    flex-flow: row;
    margin: 30px 30px;
  }
  header figure {
    margin: 0;
  }
  .header-divider {
    width: 31%;
  }

 
  footer .content-wrapper{
    width: 100%;
    
  }
  footer .contact .social {
    /* width: 33%; */
    margin-bottom: 100px;
    padding-bottom: 100px;
  }
  .footer-content{
    padding-top: 30px;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  footer .contact{
    flex-basis: 50%;
  }
  footer .social {
    flex-basis: 50%;
  }
  footer .copyright {
    padding-top: 140px;
    width: 100%;
    flex-basis: 100%;
  }
  footer .contact h4 {
    padding: 0;
    
  }
  footer .social h4{
    padding: 0;
  }
  
  /* ==========================================================================
    Homepage Styling
   ========================================================================== */
   .hero-area {
    width: 100%;
    margin: 0 0;
    justify-content: flex-start;
  }
  .hero-area h1{
    width: 73%;
    padding: 0;
    margin: 30px 65px;
  }
  .hero-area .content-wrapper {
    margin: 0;
  }
  aside{
    padding: 0;
    width: 100%;
    margin: 0;

  }
  aside .content-wrapper {
    width: 100%;
    padding: 0;
    display: flex;
    margin: 0;
  }
  .content-wrapper .form-description {
    width: 35%;
    padding: 0 50px;
    margin: 0;
  }

  .content-wrapper .form {
    width: 35%;
    padding-left: 100px;
    margin: 0;

  }
  input {
    width: 60%;
    padding: 0;
    margin: 0;
  }
  .features {
    margin-top: 60px;
  }
  .features h2 {
    width: 80%;
    margin: 0 30px;
  }
  section .features-items{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    padding-bottom: 85px;
  }
  .features-items article {
    margin: 0;
    flex-basis: 30%;
    margin-top: 5px;
  }
  .reviews {
    margin: 0;
    margin-bottom:50px
    
  }
  .reviews .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    margin: 0;
  }
  .reviews h2 {
    width: 100%;
    padding: 0;
    margin-left: 55px;
  }
 

   .reviews article {
    width: 50%;
    padding: 0;
  }
   .reviews figure{
    width: 40%;
    border: 1px solid black;
    height: 205px;
    margin: 0;
    margin-left: 35px;
    margin-right: 5px;
  }
  
   .reviews h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    
  }
  .reviews p {
    width: 90%;
    padding: 0;
  }
  /* ==========================================================================
        About page styles
   ========================================================================== */
  .mission-content{
    width: 83%;
    margin: 0 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
   .mission-content h1{
    margin-top: 0;
    
  }
  .mission-content p {
    flex-basis: 47%;
    margin-right: 20px;
  }
  .map {
    border: 1px solid black;
  }
  .contact-section {
    margin-top: 80px;
    margin-bottom: 70px;
    flex-flow: row wrap;
  }
  .contact-section .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .contact-section .content-wrapper h2 {
    width: 100%;
    margin: 0 33px;
  }
  .content-wrapper .column-one, .column-two {
    flex-basis: 46%;
  
  }
   /* ==========================================================================
        FAQ page styles
   ========================================================================== */
  .faq .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-flow: row wrap;
    margin-bottom: 40px;
    flex-basis:100%
  }

  .faq h2{
    padding-left: 50px;
    margin-bottom: 15px;
    width: 100%;
  }
  .faq-content {
  flex-basis: 40%;
  padding-right: 10px;
  align-items: flex-start;
  }
  
}

@media only screen and (min-width: 1200px) {
/* ==========================================================================
  Header and Footer Styles
   ========================================================================== */
  header nav {
    justify-content: center;
  }
  header nav ul {
    width: 30%;
    margin: 0;
  }
/* ==========================================================================
  Hompage Styles
   ========================================================================== */
   .hero-area{
    justify-content: center;
  }
  .hero-area .content-wrapper{
    flex-basis: 90%;
  }
  aside .content-wrapper {
    justify-content: flex-start;
    flex-basis: 75%;
    /* width: 100%; */
  }
  aside {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .features {
    display: flex;
    justify-content: center;
  }
  .features-items{
    flex-basis: 84%;
    justify-content: space-evenly;
  }
  .features .content-wrapper {
    justify-content: center;
    /* flex-basis: 100%; */
    display: flex;
    align-items: center;
    flex-flow: row wrap;
  }
 .feature-item-description {
   width: 50%;
 }
 .reviews .content-wrapper {
  flex-basis: 90%;
  justify-content: space-evenly;
 }
 .reviews .content-wrapper p, figure {
   flex-basis: 40%;
 }
 .reviews .content-wrapper p {
   width: 70%;
 }
 /* ==========================================================================
  About Page styles
   ========================================================================== */
  .mission .content-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 83%;
  }
  .mission-content {
    width: 80%;
    justify-content: flex-start;
    padding: 0;
    padding-bottom: 50px;
    margin: 0;
  }
  .contact-section {
    width: 80%;
  }
  .contact-section .content-wrapper {
    flex-basis: 75%;
    justify-content: space-between;
  }
  .contact-section .content-wrapper h2 {
    padding: 0;
    margin: 0;
  }
  .contact-section .content-wrapper h3 {
    padding: 0;
    margin: 0;
  }
  .contact-section .content-wrapper address {
    padding: 0;
    margin: 0;
  }
   /* ==========================================================================
    FAQ Page styles
   ========================================================================== */
   .faq {
     margin-bottom: 70px;
   }
   .faq .content-wrapper{
    justify-content: space-evenly;
    flex-basis: 95%;
  }
  .faq .content-wrapper h2 {
    justify-content: center;
    width: 84%;
  }
  .faq-content {
    flex-basis: 38%;
  }
  .faq-content p {
    width: 75%;
  }
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

