/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
	
/* General Styles */
 
html {
	font-size: 16px;
}
 
body {
  /* width: 100%; */
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #fcf9f9;

}
 
ul, 
ol {
  list-style: none;
}
 
a {
	color: #e2e3ed;
  text-transform: uppercase;
  text-decoration: none;
}

h1 {
  font-size: 3.75em;
}
 
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
}
 
h3, 
h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.13em;
  font-weight: 400;
}
 
p {
	font-size: 1.13em;
  line-height: 1.13em;
}
 
img {
 width: 100%;
}
 
figure {
 margin: 0;
}
 
address {
 font-size: 1.13em;
 line-height: 1.5em;
 font-style: unset;
}
 
.content-wrapper {
 
}
   
/* ==========================================================================
   Header and Footer layout styles
   ========================================================================== */

header, footer {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #202322;
  background-size: cover;
  color: #fcf9f9;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 80%;
  /* margin: 0 auto; */
}

header img{
 margin: 10px 0;
 width: 90%;
 padding-bottom: 25px;
}

header nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 62%;
  padding-bottom: 20px;
 
}

header nav ul{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
}


header nav ul li a {
  margin: 0 auto;
  text-decoration: none;
}

footer .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow:  row wrap;
  width: 60%;
}

.footer-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
}
footer .social-icons {
  
}

footer .social p{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

footer .social-icons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding-left: 55px;
  
}
footer .social-icons p{
  height: 100px;
}
/* ======================================================================================
        Header  Styles
   ======================================================================================*/

header {
  padding: 15px auto;
}

header figure {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.header-divider{
  width:100%;  
}

/* ======================================================================================
        Footer Styles
   ======================================================================================*/

footer .contact{
width: 100%;
}
footer .contact h4{
  margin: 15px 75px;
  padding-top: 35px;
  font-size: 1.83em;
  font-weight: 400;
}

footer .contact address {
  margin: 15px 0;
  font-size: 1.1em;
  line-height: 1.5em;
}

footer .social {
  padding-bottom: 15px;
}

footer .social h4{
  font-size: 1.83em;
  margin: 15px 50px;
  padding-bottom: 0px;
  font-weight: 400;
}
footer .social-icons {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

footer .copyright {
  margin:0 auto;
  padding-bottom: 20px;
}

footer .copyright p{
  margin:0 auto;
  padding: 0 auto;
}
.social-icons i{
  font-size: 2.75em;
  padding: 15px;
}

/* ======================================================================================
        Home Page
   ======================================================================================*/

.hero-area{
  background: url(../img/jake-melara-30679-unsplash.jpg)center no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.hero-area h1 {
  font-weight: 400;
  font-size: 2.3em;
  margin-top: 0;
  padding: 0 20px;
}
.hero-area .content-wrapper {
  flex-basis: 80%;
}
aside{
  background-color: #527158;

}
aside .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.form-description{
  margin-top: 30px;
  flex-basis: 80%;
  font-size: 1.1em;
  font-weight: 400;
}
.form-description h3 {
  margin: 0;
  font-size: 1.85em;
  padding-bottom: 15px;
}
.form-description p {
  font-size: 1.1em;
  font-weight: 100;
  line-height: 1.5em;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.form {
  margin-top: 15px;
  flex-basis: 80%;
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 25px;
}
.form h3{
  font-size: 1.85em;
  font-weight: 400;
}

.form input {
  padding: 15px 20px;
}

section .hero-area{
  margin-top: 44px;
}
.features{
  background: url(../img/rawpixel-800820-unsplash1.jpg) center no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.features .content-wrapper{
  flex-basis: 80%;
}
.features h2{
  font-size: 2.25em;
  font-weight: 400;
  /* flex-basis: 80%; */
}
.features i {
  font-size: 3.75em;
  margin-bottom: 40px;
}
.features p {
  text-align: center;
  /* margin: 0; */
  font-size: 1.1em;
  line-height: 1.5em;
}
.features article {
  width: 50%;
  padding: 20px 15px;
  margin: 15px auto;
  text-align: center;
}
.features .content-wrapper{
  margin: 0 20px;
}
.reviews{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0 20px;
  background-color: #2a423a;
}
.reviews figure {
  width: 89%;
}
.reviews h2{
  font-size: 2.2em;
  font-weight: 400;
}
.reviews h3{
  font-size: 1.85em;
  font-weight: 400;
}
.reviews p{
  font-size: 1.1em;
  line-height: 1.5em;
}
}
aside .form {
  margin-top: 30px;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.85em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}
/* ======================================================================================
        About Page
   ======================================================================================*/
.mission{
  flex-basis: 83%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 50px;
  padding-bottom: 20px;
  margin: 0 auto;
  background-color: #527158;
}
.mission-content h1{
  font-size: 3em;
  font-weight: 400;
  line-height: auto;
  margin: 30px auto;
}

.mission p{
  line-height: 1.5em;
  font-size: 1.1em;
  margin: 0;
  padding-bottom: 15px;
  
}
.mission .content-wrapper{
  flex-basis: 90%;
}
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #2a423a;
}
.contact-section .content-wrapper{
  flex-basis: 90%;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.column-one, .column-two {
  padding-bottom: 100px;
}
.column-one h3{
  font-size: 1.8em;
  font-weight: 400;
}
.column-two h3{
  font-size: 1.8em;
  font-weight: 400;
}


.contact-section h2{
  font-weight: 400;
  font-size: 3em;
  margin: 0 33px;
  padding: 40px 0;
}
.contact-section .content-wrapper address{
  font-size: 1.15em;
}



/* ======================================================================================
        FAQ Page
   ======================================================================================*/

   .faq{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #527158;
  padding: 0 115px;
  padding-bottom: 100px;
}
.faq h2 {
  width: 90%;
  padding:  20px;
  padding-top: 100px;
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 3em;
}

.faq .conent-wrapper{
  flex-basis: 80%;
}

.faq-content h4 {
 font-size: 1.15em;
 font-weight: 400;
 margin: 0;
 padding: 0;
}
.faq-content p {
  font-size: 1.15em;
  line-height: 1.15em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {

  /* ==========================================================================
   Header and Footer styling
   ========================================================================== */
  header .content-wrapper {
    justify-content: space-between;
    flex-flow: row;
    margin: 30px 30px;
  }
  header figure {
    width: 30%;
  }
  .header-divider {
    width: 31%;
  }

 
  footer .content-wrapper{
    width: 100%;
    padding-top: 30px;
    
  }
  footer .contact .social {
    /* width: 33%; */
    margin-bottom: 100px;
    padding-bottom: 100px;
  }
  .footer-content{
    padding-top: 30px;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  footer .contact{
    flex-basis: 50%;
  }
  footer .social {
    flex-basis: 50%;
  }
  footer .copyright {
    padding-top: 140px;
    width: 100%;
    flex-basis: 100%;
  }
  footer .contact h4 {
    padding: 0;
    
  }
  footer .social h4{
    padding: 0;
  }
  footer .social-icons{
    padding-left: 55px;
  }
  
  /* ==========================================================================
    Homepage Styling
   ========================================================================== */
   .hero-area {
    margin: 0 0;
    justify-content: flex-start;
  }
  .hero-area h1{
    width: 73%;
    padding: 0;
    margin: 30px 65px;
  }
  .hero-area .content-wrapper{
    margin: 0;
  }
  .hero-area .content-wrapper h1 {
    /* margin-left: 20px; */
    padding: 60px 25px;
  }
  aside{
    padding: 0;
    margin: 0;
    padding-bottom: 30px;

  }
  aside .content-wrapper {
    padding: 20px;
    display: flex;
  }
  .content-wrapper .form-description {
    flex-basis: 80%;
  }

  .content-wrapper .form {
    flex-basis: 80%;

  }
  .form-description p {
    font-size: 1.1em;
    line-height: 1.5em;
  }
  input {
    width: 60%;
    padding: 0;
    margin: 0;
  }
  .features h2 {
    margin: 0;
    padding: 60px 20px;
  }
  section .features-items{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    padding-bottom: 85px;
  }
  .features-items article {
    margin: 0;
    flex-basis: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .reviews {    
    padding: 90px 0;
  }

  .reviews .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    margin: 0;
  }
  .reviews h2 {
    width: 100%;
    padding: 0;
    padding: 0 20px;
    margin-left: 55px;
  }
 

   .reviews article {
    flex-basis: 50%;
    /* padding: 10px; */
  }
   .reviews figure{
    width: 40%;
    margin: 0;
    margin-left: 35px;
    margin-right: 5px;
  }
  
   .reviews h3 {
    padding: 0;
    margin: 0;
  }
  .reviews p {
    flex-basis: 80%;
  }
  /* ==========================================================================
        About page styles
   ========================================================================== */
  .mission-content{
    flex-basis: 82%;
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
  }
   .mission-content h1{
    margin-top: 0;
    
  }
  .mission-content p {
    flex-basis: 43%;
  
  }
  .map figure{
    /* padding-bottom: 50%;  */

  }

  .contact-section {
    flex-flow: row wrap;
  }
  .contact-section .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .contact-section .content-wrapper h2 {
    width: 100%;
    
  }
  
  .content-wrapper .column-one, .column-two {
    flex-basis: 46%;
  
  }
   /* ==========================================================================
        FAQ page styles
   ========================================================================== */
  .faq .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-flow: row wrap;
    margin-bottom: 40px;
    flex-basis:100%
  }

  .faq h2{
    width: 100%;
  }
  .faq-content {
  flex-basis: 40%;
  padding-right: 10px;
  align-items: flex-start;
  }
  
}

@media only screen and (min-width: 1200px) {
/* ==========================================================================
  Header and Footer Styles
   ========================================================================== */
  header nav {
    justify-content: center;
  }
  header figure {
    width: 26%;
  }
  header nav ul {
    width: 30%;
    margin: 0;
  }
/* ==========================================================================
  Hompage Styles
   ========================================================================== */
   .hero-area{
    justify-content: center;
  }
  .hero-area .content-wrapper{
    flex-basis: 93%;
  }
  aside .content-wrapper {
    justify-content: center;
    margin: 0 auto;
    align-items: flex-start;

  }
  aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .content-wrapper .form-description {
    flex-basis: 33%;
    margin-right: 60px;
    margin-left: 0;
  }
  .content-wrapper .form {
    flex-basis: 33%;
    margin: 20px;
  }
  .features {
    display: flex;
    justify-content: center;
  }
  .features-items{
    flex-basis: 84%;
    justify-content: space-evenly;
  }
  .features .content-wrapper {
    justify-content: center;
    /* flex-basis: 100%; */
    display: flex;
    align-items: center;
    flex-flow: row wrap;
  }
 
 .reviews .content-wrapper {
  flex-basis: 90%;
  justify-content: space-evenly;
 }
 .reviews .content-wrapper p, figure {
   flex-basis: 35%;
 }
 .reviews .content-wrapper p {
   width: 70%;
 }
 /* ==========================================================================
  About Page styles
   ========================================================================== */
  .mission .content-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 83%;
  }
  .mission-content {
    /* width: 80%; */
    align-items: flex-start;
    padding: 0;
    padding-bottom: 50px;
    margin: 0;
  }
  .map figure {
    /* padding-bottom: 33%; */
  }
  .contact-section .content-wrapper {
    flex-basis: 75%;
    justify-content: space-between;
  }
  .contact-section .content-wrapper h2 {
    margin: 0;
  }
  .contact-section .content-wrapper h3 {
    padding: 0;
    margin: 0;
  }
  .contact-section .content-wrapper address {
    padding-top: 40px;
    margin: 0;
  }
   /* ==========================================================================
    FAQ Page styles
   ========================================================================== */
  
   .faq .content-wrapper{
    justify-content: space-evenly;
    flex-basis: 95%;
  }
  .faq .content-wrapper h2 {
    justify-content: center;
    width: 84%;
  }
  .faq-content {
    flex-basis: 38%;
  }
  .faq-content p {
    width: 75%;
  }
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

